/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#root {
}

:root {
  /* ===== Colors ===== */
  --body-color: #f5f5f5;
  --sidebar-color: #695cfe;
  --calendar--color: #f2f2fd;
  --text--color: #383576;
  --text--color-activities: #1c1951;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-04: all 0.3s ease;
}

body {
  transition: var(--tran-05);

  .wrapper {
    display: flex;
    text-align: center;
    color: var(--text--color);
    background-color: var(--body-color);
    min-height: 100vh;

    a {
      text-decoration: none;
      display: inline-block;
    }

    a:hover .icon,
    a:hover .text {
      color: bisque;
    }

    /* ===== Sidebar ===== */
    .sidebar {
      transition: var(--tran-05);
      background-color: var(--sidebar-color);
      border-radius: 20px;
      min-height: calc(100% - 100px);
      width: 80px;
      margin: 60px;
      padding: 15px 0;

      img {
        //custom for main logo
      }

      .menu-bar {
        height: calc(100% - 55px);
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        align-items: center;

        ul {
          margin-top: 40px;
          padding: 0;

          li {
            height: auto;
            list-style: none;
            display: flex;
            margin: 40px 0;
          }

          li a {
            align-items: center;
            width: 100%;
            transition: var(--tran-03);

            img {
              width: 25px;
              margin: 5px;
            }
          }
        }

        .bottom-content {
          list-style: none;
          height: 80px;
        }
      }
      .menu-bar::-webkit-scrollbar {
        display: none;
      }

      .text,
      .icon {
        color: var(--body-color);
        transition: var(--tran-03);
      }

      .icon {
        font-size: 25px;
      }

      .text {
        font-size: 12px;
        font-weight: 400;
      }
    }

    /* ===== Home ===== */
    .container {
      top: 0;
      left: 200px;
      max-width: 100%;
      width: calc(100% - 200px);
      min-height: calc(100% - 70px);
      margin-right: 50px;

      .left-upper-layout {
        margin: 25px 0;
        height: 180px;
        justify-content: space-around;

        .custom-button {
          height: 100%;
          width: 100%;
          max-width: 160px;
          position: relative;
          background-color: white;
          color: var(--text--color);
          border: none;
          box-shadow: 4px 4px 15px 2px rgba(212, 210, 248, 0.5);
          border-radius: 15px;

          .custom-img {
            width: 50px;
            padding: 15px 0;
          }
        }

        .custom-button::before {
          content: '';
          position: absolute;
          right: 15px;
          top: 15px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
        }

        .custom-button.purple::before {
          background-color: #6f6af2;
        }
        .custom-button.red::before {
          background-color: #dd2838;
        }
        .custom-button.green::before {
          background-color: #5dd75b;
        }
        .custom-button.light-blue::before {
          background-color: #c5c3f7;
        }
      }

      .left-lower-layout {
        width: 100%;
        height: calc(100% - 260px);

        .card {
          height: 100%;
          background-color: var(--body-color);
          border: none;

          .row {
            height: 30%;
          }
        }

        &-body {
          height: calc(100% - 30px);
          width: 100%;
          top: 30px;
          overflow-y: auto;
          padding-left: 0;
          padding-right: 0;

          &-activities {
            display: flex;
            justify-content: space-between;
            margin: 5px 10px;
            border: 0;
            box-shadow: 4px 4px 15px 2px rgb(212 210 248 / 50%);
            border-radius: 15px;
            font-weight: 500;
            align-items: center;
            color:  var(--text--color-activities);;

            .button-out {
              font-size: 9px;
            }

            .button-in {
              background-color: var(--sidebar-color);
              border-color: var(--sidebar-color);
              font-size: 9px;
            }
          }
        }

        .sum {
          &-body {
            justify-content: space-between;
            flex-direction: column;
            display: flex;

            &-card {
              height: 100%;
              position: relative;
              background-color: white;
              box-shadow: 4px 4px 15px 2px rgb(212 210 248 / 50%);
              border-radius: 15px;

              span {
                position: absolute;
                top: 10px;
                left: 15px;
                font-size: 12px;
              }

              h5 {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-weight: 900;
              }
            }
          }
        }
      }

      .right-calendar-layout {
        height: 100%;
        background-color: var(--calendar--color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        /* ===== Libs Custom / Not good XXXXXXXXXX ===== */
        /* .react-calendar__navigation__prev2-button,
        .react-calendar__navigation__next2-button {
          visibility: hidden;
        } */
        abbr {
          text-decoration: none;
        }

        .profile-custom {
          height: 100px;
          align-items: center;
          width: 100%;
          display: flex;
          padding-left: 30px;

          img {
            width: 50px;
          }

          Button {
            background-color: transparent;
            border: none;
            color: var(--text--color);
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 5px;
          }

          .info-details {
            display: flex;
            font-size: 11px;
            color: white;

            .info-details-chip {
              background-color: var(--sidebar-color);
              border-radius: 10px ;
              font-size: 7px;
              padding: 3px 6px;
              margin: 5px;
            }
          }
        }

        .analogue-clock-custom {
          z-index: 1;

          .clock {
            width: 180px;
            height: 180px;
            background: white
              url('https://assets.codepen.io/85188/clock-markers.svg') center
              center no-repeat;
            box-shadow: inset -12px -12px 30px rgba(255, 255, 255, 0.2),
              inset 7px 7px 8px rgba(166, 180, 200, 0.52),
              inset 10px 11px 30px -1px rgba(166, 180, 200, 0.71);
            position: relative;
            border-radius: 50%;
            margin: auto;
            top: -20%;
          }
          .h-hand,
          .m-hand,
          .s-hand {
            position: absolute;
            transform-origin: bottom;
            border-radius: 40%;
          }
          .h-hand {
            width: 10px;
            height: 75px;
            background: #646E82;
            top: calc(50% - 75px);
            left: calc(50% - 5px);
            rotate: var(--degHour);
          }
          .m-hand {
            width: 4px;
            height: 90px;
            background: #646E82;
            top: calc(50% - 90px);
            left: calc(50% - 2px);
            rotate: var(--degMin);
          }
          .s-hand {
            width: 3px;
            height: 80px;
            background: #FD251E;
            top: calc(50% - 80px);
            left: calc(50% - 2px);
            rotate: var(--degSec);
          }
          .s-hand::after {
            border-radius: 50%;
            display: block;
            content: '';
            width: 30px;
            height: 30px;
            background: #646E82;
            position: absolute;
            bottom: -15px;
            left: -15px;
          }
        }

        .digital-clock-custom {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          position: absolute;
          width: 80%;
          height: 140px;
          top: 260px;
          background-color: #695cfe;
          color: white;
          box-shadow: 4px 4px 12px 7px rgb(212 210 248 / 50%);
          border-radius: 15px;
        }

        .text-custom {
          position: relative;
          top: 50px;
          left:-20px;
          font-weight: 900;
        }
      }
    }
  }

  /* ===== Responsive ===== */
  @media only screen and (min-width: 992px) and (max-width: 1199px)  {

      .left-upper-layout{
        height: 150px !important;
      }

      .left-lower-layout-body-activities {
        font-size: 12px;
      }

      .sum {
        max-height: 350px ;

        .sum-body-card span {
          top: 4px !important;
          left: 6px !important;
          font-size: 8px !important;
        }
  
        .sum-body-card h5 {
          font-size: 1rem !important;
        }
      }

    .right-calendar-layout {
      font-size: 10px !important;
      max-height: 750px !important;

      .profile-custom .info-details-chip {
        font-size: 5px !important;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .container {
      margin-right: auto !important;
    }

    .sidebar {
      display: none;
    }

    .right-calendar-layout {
      height: 750px !important;
    }
    
    .sum-body {
      height: 300px !important;
      flex-direction: row !important;

      .row {
        width: 100% !important;
        height: 100px !important;
        margin: 5px !important;

        .col-lg-6 {
          height: 100% !important;
          padding: 10px !important;
        }
      }

      &-card.second{
        top: 50px !important;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .left-upper-layout {
      height: 300px !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .wrapper {
      visibility: hidden;
    }
  }
}
